#main {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 40px;

}
.form textarea {
    margin-bottom: 40px;
    max-width: 400px;
}
.form #submit {
    width: 225px;
    margin-left: -230px;
    height: 40px;
    font-size: 17px;
}
#main .text, .res{
    color: gray;
    margin-top: -18px;

}
.res {
    margin-top: -250px;
    margin-left: 500px;
}

.res li{
    list-style-type: none;
}
.error {
    color: red;
}

.preloader {
    width: 20px;
    height: auto;
    background-color: transparent;
    position: absolute;
    margin-left: -24px;
    margin-top: -19px;
}